<!DOCTYPE html>
<html>
<body>

<head>
  <title>Plant Disease Detection</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<div class="container" style="width:700px;margin-top: 50px;">

  <header>
    <h1 id='head1'><strong>Plant Disease Recognition</strong></h1>
  </header>
  
{% if image_url %}
  <h1 id='filename'><strong>{{ result }}</h1>
  <img src="data:image/png;base64,{{image_url}}" style="width:224px;height:224px;">
  {% endif %}

</div>


</body>
</html>
